# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Django local files
*.log
staticfiles/
media/pembayaran/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
/db.sqlite3
